* {
  box-sizing: border-box;
}

:host {
  display: none;
  position: absolute;
  background-color: Canvas;
}

.option-container.has-children {
  width: 100%;
  overflow: scroll;
  border: 1px solid black;
}
