:host {
  box-sizing: border-box;
  display: none;
  position: absolute;
  background-color: #fff;
}

.option-container.has-children {
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
}
